.about{
  background: $mainColor;
  display: grid;
  grid-template-columns: 1fr 1230px 1fr;
  grid-template-areas: "... about ...";

}

.about-container{
  grid-area: about;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 130px;

}

.about__logo{
  width: 570px;
  margin-bottom: 15px;
}

.about__text{
  color: white;
  font-size: 22px;
}